* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: space-around;
}

.etch-a-sketch {
  --square-count: 16;
  --square-size: 25px;
  --container-size: calc(var(--square-size) * var(--square-count));
  display: flex;
  flex-wrap: wrap;
  width: var(--container-size);
  height: var(--container-size);
}

.grid {
  width: var(--square-size);
  height: var(--square-size);
  background-color: #ccc;
  border: 1px solid #999;
  cursor: pointer;
}

.grid.active {
  background-color: black;
}